@model IEnumerable<UnimetalWeb.Models.Itemsubcategorymaster>

@{
    ViewData["Title"] = "Index";

}



<section class="content">
    <div class="container-fluid">
        <hr />


        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Item Sub Category Master</h3>
                        <a asp-action="Create" asp-controller="Itemsubcategorymaster" title="Create New" style="float: right;" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>
                                        Sub Category Title
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info">Action</button>
                                                <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" role="menu" style="">

                                                    <a asp-action="Edit" asp-route-id="@item.id" title="Edit" class="dropdown-item"><i class="fas fa-edit"></i></a>
                                                    <a asp-action="Details" asp-route-id="@item.id" title="Details" class="dropdown-item"><i class="fas fa-info-circle"></i></a>
                                                    <a asp-action="Delete" asp-route-id="@item.id" title="Delete" class="dropdown-item"><i class="fas fa-trash"></i></a>
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.sub_category_title)
                                        </td>
                                        
                                        @*<td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                            </td>*@
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        Sub Category Title
                                    </th>
                                    
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<script>
    var liMasters = document.getElementById("liMasters");
    liMasters.classList.add("menu-open");
    var liMastersA = document.getElementById("liMastersA");
    liMastersA.classList.add("active");
    var Master = document.getElementById("Itemsubcategorymaster");
    Master.classList.add("active");

</script>